body {
    background-image: url(https://alethakuschan.files.wordpress.com/2008/05/like-water.jpg);
      
}
.container-head {
    
   background-color: rgb(63, 19, 63);
   padding-left: 30%;
   
   /* align-content: center; */
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
    height: 100px;
    color: white;
    opacity: .8;
}

.container-main {
    background-color: rgb(31, 28, 28);
    height: 700px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    background-image: url(http://24.media.tumblr.com/06d078d7bb17e36c08c4488c388b9e32/tumblr_mhesviJUn11s1jj9ro1_500.gif); 
    background-image: initial;

    
}




.card {
    margin: 0 auto;
    height: 600px;
    width: 450px;
}
.card-img-top{
    padding-top: 1%;
    margin: 0 auto;
    justify-content: center;
    height: 450px;
    width: 400px;
}

.drink-button {
    background-color: green;
}